<div class="map-wrapper">
  <div class="map-controls">
  <div class="search-box">
    <input type="text" [(ngModel)]="searchQuery" (keydown.enter)="onSearchSubmit()" placeholder="Tìm kiếm địa điểm..." />
    <div type="button" class="search-btn" (click)="onSearchSubmit()">
      <img class="search-icon" src="images/tim-kiem.png" alt="Tìm kiếm">
    </div>
  </div>

  <button class="scroll-btn" (click)="scrollTabs(tabContainer, -250)" title="Cuộn trái">&#10094;</button>

  <div class="category-tabs" #tabContainer>
    <button class="tab-item" [class.active]="selectedCategory === 'All'" (click)="filterByCategory('All')">
      Tất cả
    </button>
    
    @for (cat of categories(); track cat.category_id) {
      <button class="tab-item" [class.active]="selectedCategory === cat.name" (click)="filterByCategory(cat.name)">
        <span class="dot" [style.background-color]="getBadgeColor(cat.name)"></span> {{ cat.name }}
      </button>
    }
  </div>

  <button class="scroll-btn" (click)="scrollTabs(tabContainer, 250)" title="Cuộn phải">&#10095;</button>

</div>

  <section class="map-leaflet">
    <div id="map"></div>
  </section>
</div>